* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto";
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: #1f1e1e #f7e8e8;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #f7e8e8;
}

*::-webkit-scrollbar-thumb {
  background-color: #1f1e1e;
  border-radius: 10px;
  border: 3px solid #ffffff;
}
